<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>New Message</h1>
    <form method="post" action="/new">
        <div class="form">
            <label for="messageIn">Message</label>
            <input id="messageIn" name="messageText" type="text">
            <label for="authorIn">Author</label>
            <input id="authorIn" name="authorText" type="text">
            <button type="submit">Submit</button>
        </div>
    </form>


</body>
</html>