<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the <%= title %></p>
    <h4>Messages</h4>
    <ul>
      <% messages.forEach(message => { %>
        <li><%= message.text + ' - ' + message.user + ' : '+ message.added %></li>
      <% }); %>
    </ul>
  </body>
</html>
