body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #1E1E1E;
}

a {
  color: #2196F3;
}
.message{
  padding: 1rem;
  border-radius: 1rem;
  background-color: #414141;
  margin-bottom: .5rem;
}
.message-header{
  font-weight: bold;
  font-size: 16px;
}
.message-content{
  padding-left: 1.5rem;
  padding-top: .5rem;
}
.message-footer{
  font-size: 12px;
  text-align: end;
}
.form{
  display: flex;
  flex-direction: column;
  gap: .3rem;
  width: 30%;
  min-width: 300px;
}
button{
  background-color: #4CAF50;
  border: none;
  border-radius: .3rem;
  height: 1.5rem;

}
button:hover{
  background-color: #43A047;
}